<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block static_files %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/toys.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/registration.css' %}" type="text/css">
    {% endblock static_files %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
    <div class="popupup">
        <div class="fadede">
            <div class="userdatata">
                <h2 class="greeting">Your password was successfully changed!</h2>
                <form method="post" action="{% url 'core:logout' %}" class="userdatata">
                    <button class="special__button_44 special__write a">EXIT</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>