<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block static_files %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/toys.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/registration.css' %}" type="text/css">
    {% endblock static_files %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
    <div class="popupup">
        <div class="fadede">
            <form action="{% url 'core:password_reset' %}" method="POST" enctype="multipart/form-data" class="userdatata">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <h2 class="greeting">Change your password</h2>
                <div class="last_wrapap">
                    {{ form.new_password1.errors }}
                    <label class="userdata___frame otstupup" for="password1">Password</label>
                    <input class="text11" type="password" id="password1" value="" name="new_password1">
                </div>
                <div class="last_wrapap">
                    {{ form.new_password2.errors }}
                    <label class="userdata___frame" for="password2">Repeat password</label>
                    <input class="text44" type="password" id="password2" value="" name="new_password2">
                </div>
                <div class="neededed"><button class="special__button special__write button_wrapapap bub" type="submit">CHANGE PASSWORD</button></div>
            </form>
        </div>
    </div>
</body>
</html>