.user_avatar {
    width: 170px;
    height: 170px;
}

.where__you__are_2 {
    display: flex;
    gap: 20px;
    padding-bottom: 0px;
}

.uzzer_data {
    display: flex;
    margin-top: -10px;
}

.data_list_item {
    display: block;
}

.banner__list__button__main_2 {
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
}

.name_and_stuff {
    display: flex;
    margin-left: -80px;
}

.data_list1 {
    margin-top: -20px;
}

.data_list2 {
    margin-top: -20px;
}

.special__button_44 {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 26px;
    padding-right: 26px;
    background: #000000;
    bottom: -40px;
    right: 135px;
}

.user_settings {
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #ffe2cb;
    border: none;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
}

