<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block static_files %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/toys.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/registration.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
    {% endblock static_files %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Editing</title>
</head>
<body>
    <div class="popupup">
        <div class="fadede" style="overflow-y:scroll">
            <form action="{% url 'core:edit_profile' user_id=request.user.id %}" method="POST" enctype="multipart/form-data" class="userdatata">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <h2 class="greeting">Profile Editing</h2>
                <div class="last_wrapap">
                    <label class="userdata___frame otstupup" for="username1">Username</label>
                    {{ form.username.errors }}
                    <input class="text11" type="text" name="username" id="username1" value="{{ form.username.value }}">
                </div>
                <div class="last_wrapap">
                    {{ form.first_name.errors }}
                    <label class="userdata___frame" for="username2">First name</label>
                    <input class="text44" type="text" name="first_name" id="username2" value="{{ form.first_name.value }}">
                </div>
                <div class="last_wrapap">
                    {{ form.last_name.errors }}
                    <label class="userdata___frame" for="username3">Last name</label>
                    <input class="text44" type="text" name="last_name" id="username3" value="{{ form.last_name.value }}">
                </div>
                <div class="last_wrapap">
                    {{ form.birth_date.errors }}
                    <label class="userdata___frame" for="username4">Birthdate</label>
                    <input class="text44" type="date" name="birth_date" id="username4" value="{{ form.birth_date.value|date:'Y-m-d' }}">
                </div>
                <div class="last_wrapap">
                    {{ form.phone.errors }}
                    <label class="userdata___frame" for="username33">Phone</label>
                    <input class="text44" type="text" name="phone" id="username33" value="{{ form.phone.value }}">
                </div>
                <div class="last_wrapap">
                    {{ form.email.errors }}
                    <label class="userdata___frame" for="username44">Email</label>
                    <input class="text44" type="email" name="email" id="username44" value="{{ form.email.value }}">
                </div>
                <div class="photo_wrap">
                    {{ form.avatar.errors }}
                    <label class="userdata___frame" for="username6">Avatar</label>
                    <div class="ava22"><img class="ava" style="height: 50px; width: 50px;" src="{% if customuser.avatar %}{{ customuser.avatar.url }}{% else %}{% static 'img/empty_avatar.png' %}{% endif %}" alt="avatar"></div>
                    <input class="special__write" type="file" name="avatar" id="username6" value="{{ form.avatar.value }}">
                </div>
                <div class="neededed"><button class="special__button special__write button_wrapapap bub" type="submit">Update profile</button></div>
            </form>
        </div>
    </div>
</body>
</html>