<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block static_files %}
            <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/toys.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/user_profile.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/catalog.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/ContactUs.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/another.css' %}" type="text/css">
        {% endblock static_files %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>User Profile</title>
    </head>
<body>
    <header class="header container">
        <img class="header__logo" src="{% static 'img/Union.png' %}" alt="logo">
        <ul class="header__list">
            <li class="header__list__item undotted"><a class="header__list__link a" href="{% url 'blog:index' %}">BLOG</a></li>
            <li class="header__list__item undotted"><a class="header__list__link a" href="{% url 'catalog:index' %}">CATALOG</a></li>
            <li class="header__list__item undotted"><a class="header__list__link a" href="{% url 'toys:index' %}">TOYS</a></li>
            <li class="header__list__item undotted"><a class="header__list__link a" href="{% if request.user.is_authenticated %}{% url 'core:user_profile' user_id=request.user.id %}{% else %}{% url 'core:suggestion' %}{% endif %}">USER PROFILE</a></li>
            <li class="header__list__item undotted"><a class="header__list__link a" href="#">ABOUT US</a></li>
        </ul>
        <img class="header__image" src="{% static 'img/Loupe.png' %}" alt="search">
        <a class="header__link a" href="{% url 'ContactUs:index' %}">CONTACT US</a>
    </header>
    <main>
        <section class="where container">
            <h1 class="where__title">USER PROFILE</h1>
            <div class="first__wrap">
                <a class="where__link a" href="{% url 'main:index' %}">Home</a>
                <img class="where__image" src="{% static 'img/arrow.png' %}" alt="arrow">
                <p class="where__description">User Profile</p>
            </div>
        </section>
        <section class="uzzer_data container">
            <div class="ava_edit">
                <div><img class="ava" style="height: 200px; width: 200px;" src="{% if customuser.avatar %}{{ customuser.avatar.url }}{% else %}{% static 'img/empty_avatar.png' %}{% endif %}" alt="avatar"></div>
                <a class="special__button_44 special__write a" href="{% url 'core:edit_profile' user_id=request.user.id %}">EDIT</a>
                <a class="special__button_444 special__write a" href="{% url 'core:logout' %}">LOG OUT</a>
            </div>
            <div class="name_and_stuff">
                <ul class="data_list1">
                    <li class="data_list_item undotted">
                        <h2 class="banner__list__button__main_2">Username:</h2>
                        <p class="user_settings">{{ customuser.username }}</p>
                    </li>
                    <li class="data_list_item undotted">
                        <h2 class="banner__list__button__main_2">First Name:</h2>
                        {% if customuser.first_name %}
                            <p class="user_settings">{{ customuser.first_name }}</p>
                        {% else %}
                            <p class="user_settings">Add your first name in settings!</p>
                        {% endif %}
                    </li>
                    <li class="data_list_item undotted">
                        <h2 class="banner__list__button__main_2">Last Name:</h2>
                        {% if customuser.last_name %}
                            <p class="user_settings">{{ customuser.last_name }}</p>
                        {% else %}
                            <p class="user_settings">Add your last name in settings!</p>
                        {% endif %}
                    </li>
                </ul>
                <ul class="data_list2">
                    <li class="data_list_item undotted">
                        <h2 class="banner__list__button__main_2">Birthdate:</h2>
                        {% if customuser.birth_date %}
                            <p class="user_settings">{{ customuser.birth_date }}</p>
                        {% else %}
                            <p class="user_settings">Add your birthdate in settings!</p>
                        {% endif %}
                    </li>
                    <li class="data_list_item undotted">
                        <h2 class="banner__list__button__main_2">Phone:</h2>
                        {% if customuser.phone %}
                            <p class="user_settings">{{ customuser.phone }}</p>
                        {% else %}
                            <p class="user_settings">Add your phone in settings!</p>
                        {% endif %}
                    </li>
                    <li class="data_list_item undotted">
                        <h2 class="banner__list__button__main_2">Email:</h2>
                        {% if customuser.email %}
                            <p class="user_settings">{{ customuser.email }}</p>
                        {% else %}
                            <p class="user_settings">Add your email in settings!</p>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="third__wrap container">
            <h2 class="hidden">Nado</h2>
            <section class="footer__inner">
                <h2 class="footer__inner__title">Navigation</h2>
                <img class="short__line" src="{% static 'img/Line.png' %}" alt="line">
                <ul class="footer__inner__list">
                    <li class="footer__inner__list__item__first undotted"><a class="footer__inner__list__link a" href="#">About Us</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Blog</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Design Services</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Featured On</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">2018 Holiday Catalog</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Shop By Designer</a></li>
                </ul>
            </section>
            <section class="footer__inner">
                <h2 class="footer__inner__title">Customer Information</h2>
                <img class="short__line" src="{% static 'img/Line.png' %}" alt="line">
                <ul class="footer__inner__list">
                    <li class="footer__inner__list__item__first undotted"><a class="footer__inner__list__link a" href="#">Contact Us</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Sale Exclusions</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Shipping & Returns</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Shipping & Returns</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Privacy Policy</a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#">Search</a></li>
                </ul>
            </section>
            <section class="footer__inner">
                <h2 class="footer__inner__title">Connect</h2>
                <img class="short__line" src="{% static 'img/Line.png' %}" alt="line">
                <form class="email" action="handler.php">
                    <label class="email__frame" for="username1"><input class="type__area" type="text" id="username1" placeholder="Email"></label>
                    <button class="footer__button special__write a" type="button">JOIN</button>
                </form>
                <ul class="footer__inner__list__partners">
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#"><img class="footer__inner__list__image" src="{% static 'img/Facebook.png' %}" alt="facebook logo"></a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#"><img class="footer__inner__list__image" src="{% static 'img/Twitter.png' %}" alt="twitter logo"></a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#"><img class="footer__inner__list__image" src="{% static 'img/Pinterest.png' %}" alt="some logo"></a></li>
                    <li class="footer__inner__list__item undotted"><a class="footer__inner__list__link a" href="#"><img class="footer__inner__list__image" src="{% static 'img/Instagram.png' %}" alt="instagram logo"></a></li>
                </ul>
            </section>
        </section>
        <div class="container">
            <img class="long__line container" src="{% static 'img/Long_Line.png' %}" alt="long_line">
        </div>
        <section class="footer__inner__bottom container">
            <h2 class="hidden">Something needed</h2>
            <div class="last__wrap">
                <p class="footer__inner__description">Company rating</p>
                <ul class="footer__inner__list__stars">
                    <li class="footer__inner__list__item undotted"><img class="footer__inner__image" src="{% static 'img/Star.png' %}" alt="star"></li>
                    <li class="footer__inner__list__item undotted"><img class="footer__inner__image" src="{% static 'img/Star.png' %}" alt="star"></li>
                    <li class="footer__inner__list__item undotted"><img class="footer__inner__image" src="{% static 'img/Star.png' %}" alt="star"></li>
                    <li class="footer__inner__list__item undotted"><img class="footer__inner__image" src="{% static 'img/Star.png' %}" alt="star"></li>
                    <li class="footer__inner__list__item undotted"><img class="footer__inner__image" src="{% static 'img/Star.png' %}" alt="star"></li>
                </ul>
                <p class="footer__inner__description__k">Copyright © 2018 Dlk • Design Life Kids</p>
                <p class="footer__inner__description__d">Web Design — Direct Line Development</p>
            </div>
        </section>
    </footer>
</body>
</html>